<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Cookie crisp</title>
  </head>
  <body>

  <section class="jumbotron text-center">
    <div class="container">
      <h1>n0mn0mn0m</h1>
    </div>
  </section>

   <form action = "/login" method = "POST">
	<p><h3>Enter username</h3></p>
	<p><input type = 'text' name = 'nm'/><p>
	<p><input type = 'submit' value = 'Login'/><p>
   </form>

  </body>
</html>
